@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  body {
    font-family: Inter, sans-serif;
  }
}

@theme {
  /* Background */
  --color-bg: #0f172a;
  --color-bg-secondary: #101930;
  --color-bg-card: #0f182e;

  /* Primary */
  --color-primary: #60a5fa;
  --color-primary-light: #93c5fd;
  --color-primary-dark: #3b82f6;

  /* Accent */
  --color-accent: #4f46e5;
  --color-accent-light: #6366f1;

  /* Text */
  --color-text: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;

  /* Border */
  --color-border: #1e3a5f;
  --color-border-light: #27466f;

  /* Icons / UI */
  --color-icon-bg: #19345c;
  --color-icon: #60a5fa;

  /* Buttons */
  --color-button: #4f46e5;
  --color-button-hover: #4338ca;

  --animate-glow: glow 2.5s ease-in-out infinite;

  @keyframes glow {
    0%,
    100% {
      box-shadow:
        0 0 20px rgba(96, 165, 250, 0.4),
        0 0 40px rgba(96, 165, 250, 0.2);
    }

    50% {
      box-shadow:
        0 0 50px rgba(96, 165, 250, 0.9),
        0 0 90px rgba(96, 165, 250, 0.6);
    }
  }
}

@utility box {
  @apply bg-[#0f182b] flex flex-col justify-center items-center gap-7 text-[20px]  p-5 rounded-2xl border border-icon-bg h-36 hover:bg-bg;
}
